.Team {
  display: flex;
  flex-direction: column;
  color: white;
}

.Team table {
  display: table;
  margin-top: 20px;
  width: 1100px;
  align-self: stretch;
  background: #414141;
  border-collapse: collapse;
  border-radius: 5px;
}

.Team table thead tr {
  text-align: left;
  height: 50px;
  font-size: 1.0rem;
}

.Team table thead tr td {
  padding: 10px;
}

.Team table tbody tr {
  font-size: 0.8rem;
  height: 40px;
  padding: 5px;
  margin: 5px;
  border: solid;
  border-width: 1px 0;
  border-color: #1e1e1e;
}

.Team table tbody tr:first-child {
  border-top: none;
}
.Team table tbody tr:last-child {
  border-bottom: none;
}

.Team td {
  text-align: left; 
  vertical-align: middle;
}

.Team td span {
  text-align: left; 
  vertical-align: middle;
  margin-left: 0px;
}

.RoClass {
  width: 70px;
  padding-left: 10px;
}

.RoName {
  width: 135px;
}

.RoRealm {
  width: 100px;
}

.RoRole {
  width: 90px;
}

.RoRank {
  width: 85px;
}

.RoLvl {
  width: 60px;
}

.RoIlvl {
  width: 60px;
}

.RoKey {
  width: 60px;
}

.RoCovenant {
  width: 115px;
}

.RoRenown {
  width: 100px;
}

.RoSoulbind {
  width: auto;
  padding-right: 10px;
}

.PlayerSpecIcon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid white;
  margin-left: 10px;
  vertical-align: middle;
}

.ClassSpecInfo {
  display: none;
  position: absolute;
  margin-left: 10px;
  padding: 5px;
  background: rgba(224, 224, 224, 1.0);
  color: black;
}

.IconHolder {
  height: 100%;
}

.IconHolder:hover + .ClassSpecInfo {
  display: block;
}

.KeyHolder {

}

.KeyInfo {
  display: none;
  flex-direction: column;
  position: absolute;
  margin-left: 0px;
  padding: 5px;
  background: rgba(224, 224, 224, 1.0);
  color: black;
}

.KeyInfo span {
  padding: 0;
  margin: 0;
}

.KeyHolder:hover + .KeyInfo {
  display: flex;
}