.Team {
  display: flex;
  flex-direction: column;
  color: white;
}

.Team table {
  display: table;
  margin-top: 20px;
  width: 1100px;
  align-self: stretch;
  background: #414141;
  border-collapse: collapse;
  border-radius: 5px;
}

.Team table thead tr {
  text-align: left;
  height: 50px;
  font-size: 1.0rem;
}

.Team table thead tr td {
  padding: 10px;
}

.Team table tbody tr {
  font-size: 0.8rem;
  height: 40px;
  padding: 5px;
  margin: 5px;
  border: solid;
  border-width: 1px 0;
  border-color: #1e1e1e;
}

.Team table tbody tr:first-child {
  border-top: none;
}
.Team table tbody tr:last-child {
  border-bottom: none;
}

.Team td {
  text-align: left; 
  vertical-align: middle;
}

.Team td span {
  text-align: left; 
  vertical-align: middle;
  margin-left: 10px;
}

.RoName {
  width: 130px;
  padding-left: 10px;
}

.RoRealm {
  width: 100px;
}

.RoRole {
  width: 100px;
}

.RoRank {
  width: 80px;
}

.RoLvl {
  width: 80px;
}

.RoIlvl {
  width: 80px;
}

.RoKey {
  width: 80px;
}

.RoCovenant {
  width: 110px;
}

.RoRenown {
  width: 100px;
}

.RoSoulbind {
  width: 110px;
}

.PlayerSpecIcon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid white;
  margin-left: 10px;
  vertical-align: middle;
}