.SortButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0px;
  font-size: 1.0rem;
  font-weight: 800;
}

.SortIcon {
  margin: -7px;;
  padding: 0;
  font-weight: 400;
  color: white;
}

.activeSort {
  color: lightseagreen;
}

.SortingIcons {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MenuButton:hover {
  background: var(--button-hover);
}

.MenuButton:active {
  background: var(--button-click);
}