.Logo {
  box-sizing: border-box;
  height: 100%;
  padding-left: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
}

.LogoLink {
  color: #ffffff;
  text-decoration: none;
}

.LogoLink:hover, .LogoLink:active, .LogoLink:focus, .LogoLink:visited, .LogoLink:link {
  text-decoration: none;
}

.Logo .name {
  font-size: 1.0rem;
}

.Logo .realm {
  font-size: 0.7rem;
}