li.link {
  width: 100%;
}

.MenuLink {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 30px;
  color: var(--link-text);
  text-decoration: none;
  font-size: 0.9rem;
}

.MenuLink:hover {
  color: var(--link-active-text);
}

.ActiveLink {
  background: var(--link-active-background);
  border-right: 2px solid var(--link-active-text);
  color: var(--link-active-text)
}

.MenuIcon {
  margin-right: 10px;
}