.Character {
  color: white;
  display: flex;
  flex-direction: column;
}

.Character h2 {
  margin: 0;
  padding: 0;
}

.Character h3 {
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.CharacterIcon {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 4px solid;
}

.CharacterName {

}

.CharacterInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  border-radius: 50px;
  width: 100%;
  height: 80px;
  background: #353535;
}

.CharacterUpdated {
  margin-left: 20px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9rem;
}

.CharacterKeystones {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.CharacterKeystones ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 0px;
  margin-bottom: 10px;
  padding: 10px;
}

.CharacterWeeklyHighestRuns, .CharacterHighestRuns, .CharacterRecentRuns {
  background: #353535;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.CharacterWeeklyHighestRuns table, .CharacterHighestRuns table, .CharacterRecentRuns table {
  table-layout: fixed;
  margin-top: 10px;
  width: 100%;
  text-align: left;
  padding: 0;
}

.CharacterWeeklyHighestRuns thead th, .CharacterHighestRuns thead th, .CharacterRecentRuns thead th {
  font-size: 0.9rem;
  font-weight: 800;
}

.CharacterWeeklyHighestRuns tbody th, .CharacterHighestRuns tbody th, .CharacterRecentRuns tbody th {
  font-size: 0.8rem;
  font-weight: 400;
}

.CharacterVault {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.VaultItem {
  background: #353535;
  width: 300px;
  margin-right: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}