nav {
  box-sizing: border-box;
  width: 300px;
  height: calc(100% - 50px);
  background: var(--nav-background);
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav li.header {
  margin-top: 20px;
  margin-bottom:10px;
  font-size: 1.0rem;
  padding-left: 20px;
  color: #ffffff;
}

